---
Checks: "bugprone-*,
         performance-*,
         portability-*,
         readability-*,
         modernize-*,
         cppcoreguidelines-*,
         -modernize-use-trailing-return-type,
         -readability-else-after-return,
         -readability-static-accessed-through-instance,
         -readability-avoid-const-params-in-decls,
         -cppcoreguidelines-non-private-member-variables-in-classes,
         -misc-non-private-member-variables-in-classes"

# Optional: Add these if you want to fine-tune the checks
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: None
