CompileFlags:
  Add: [-Wno-unused-variable, -Wno-infinite-recursion]
  
Index:
  Background: Build
  
Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    FastCheckFilter: Loose
    Remove: [modernize-use-trailing-return-type]
Completion:
  AllScopes: false
