[submodule "four-engine/test/vendor/Catch2"]
	path = four-engine/test/vendor/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "four-engine/vendor/spdlog"]
	path = four-engine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
  branch = v1.x
[submodule "four-engine/vendor/glfw"]
	path = four-engine/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "four-engine/vendor/glm"]
	path = four-engine/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "four-engine/vendor/imgui"]
	path = four-engine/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "four-engine/vendor/Vulkan-Hpp"]
	path = four-engine/vendor/Vulkan-Hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp.git
